.video-player {
  display: inline-block;
  user-select: none;
  background-color: #1e1e1e; }
  .video-player > .video-container {
    height: 360px;
    width: 640px; }
    .video-player > .video-container > #video {
      width: 100%;
      height: 100%; }
  .video-player > .progress {
    background-color: #a7a2a2; }
    .video-player > .progress > .progress-bar {
      height: 5px;
      width: 0%;
      background-color: #ea1b42; }
  .video-player > .controlers {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e; }
    .video-player > .controlers > .time-field {
      display: flex;
      align-items: center;
      font-family: sans-serif;
      color: #cacdce;
      height: 100%;
      margin: 0 10px; }
    .video-player > .controlers > .buttons {
      display: flex;
      align-items: center;
      color: #cacdce;
      height: 100%;
      min-width: 20px;
      margin: 0 10px; }
      .video-player > .controlers > .buttons:before {
        margin-left: 0; }
    .video-player > .controlers > .sound {
      display: inline-block;
      width: 50%;
      height: 5px;
      background-color: #a7a2a2; }
      .video-player > .controlers > .sound > .sound-bar {
        width: 80%;
        height: 5px;
        background-color: #ea1b42; }
  .video-player .progress,
  .video-player .buttons,
  .video-player .sound-bar,
  .video-player video {
    cursor: pointer;
    transition: all .2s ease; }
    .video-player .progress:hover,
    .video-player .buttons:hover,
    .video-player .sound-bar:hover,
    .video-player video:hover {
      color: #fff;
      transition: all .2s ease; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  background: #f1f1f1; }
